// ______________________________________________
//  Grid
//  _____________________________________________

// grid class names

$name--X:  col;
$name--XS: col-xsmall;
$name--S:  col-small;
$name--M:  col-medium;
$name--L:  col-large;
$name--XL: col-xlarge;

.container {
  @include init-container();

  @media (min-width: $screen--XS) {
    @include init-container($grid__margin--XS, $grid__vertical-margin--XS);
  }

  @media (min-width: $screen--S) {
    @include init-container($grid__margin--S, $grid__vertical-margin--S);
  }

  @media (min-width: $screen--M) {
    @include init-container($grid__margin--M, $grid__vertical-margin--M);
  }

  @media (min-width: $screen--L) {
    @include init-container($grid__margin--L, $grid__vertical-margin--L);
  }

  @media (min-width: $screen--XL) {
    @include init-container($grid__margin--XL, $grid__vertical-margin--XL);
  }
}

.row {
  @include init-row();

  @media (min-width: $screen--XS) {
    @include init-row($grid__gutter--XS);
  }

  @media (min-width: $screen--S) {
    @include init-row($grid__gutter--S);
  }

  @media (min-width: $screen--M) {
    @include init-row($grid__gutter--M);
  }

  @media (min-width: $screen--L) {
    @include init-row($grid__gutter--L);
  }

  @media (min-width: $screen--XL) {
    @include init-row($grid__gutter--XL);
  }
}

//  Make all grid columns
//  ---------------------------------------------
@include create-all-grid-columns();

@media (min-width: $screen--XS) {
  @include create-all-grid-columns($grid__gutter--XS);
}

@media (min-width: $screen--S) {
  @include create-all-grid-columns($grid__gutter--S);
}

@media (min-width: $screen--M) {
   @include create-all-grid-columns($grid__gutter--M);
}

@media (min-width: $screen--L) {
  @include create-all-grid-columns($grid__gutter--L);
}

@media (min-width: $screen--XL) {
  @include create-all-grid-columns($grid__gutter--XL);
}

@include create-grid-columns($name--X);

@media (min-width: $screen--XS) {
  @include create-grid-columns($name--XS);
}

@media (min-width: $screen--S) {
  @include create-grid-columns($name--S);
}

@media (min-width: $screen--M) {
  @include create-grid-columns($name--M);
}

@media (min-width: $screen--L) {
  @include create-grid-columns($name--L);
}

@media (min-width: $screen--XL) {
  @include create-grid-columns($name--XL);
}
