$colors: (

  base: (
    brand: #000000,
    dark-grey: #1a1a1a,
    medium-grey: #e8e8e8,
    light-grey: #f7f7f7,
    pale-white: #ffffff,
    pure-black: #000000,
    hero-black: #101010,
    background-grey: #f6f8fb,
    brand-button: #6f5dc8
  ),
)
