$font-types: (
  base: (
          regular: (
                  family: ('OpenSans', Arial, sans-serif),
                  weight: normal,
                  style: normal
          ),
          light: (
            family: ('OpenSans-Light', Arial, sans-serif),
            weight: 300,
            style: normal
          ),
          semibold: (
            family: ('OpenSans-SemiBold', Arial, sans-serif),
            weight: 600,
            style: normal
          ),
          bold: (
            family: ('OpenSans-Bold', Arial, sans-serif),
            weight: normal,
            style: italic
          )
  ),
  dancing: (
          regular: (
                  family: ('Dancing Script', Arial, sans-serif),
                  weight: normal,
                  style: normal
          ),
          medium: (
                  family: ('Dancing Script Medium', Arial, sans-serif),
                  weight: 300,
                  style: normal
          ),
          semibold: (
                  family: ('Dancing Script SemiBold', Arial, sans-serif),
                  weight: 600,
                  style: normal
          ),
          bold: (
                  family: ('Dancing Script Bold', Arial, sans-serif),
                  weight: normal,
                  style: italic
          )
  )
)
