$spacing: (
  base: (
    zero: 0,
    tiny: 8px,
    xxsmall: 10px,
    xsmall: 15px,
    small: 20px,
    small-med: 30px,
    medium: 40px,
    med-large: 50px,
    large: 60px,
    xlarge: 80px,
    xxlarge: 100px
  ),
)
